@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  /*dark 03*/
  .text-light-grey{
    color: #727272;
  }
/*dark 02*/
.text-grey {
    color: #424242;
}
.header-bg {
    background-color: rgba(255, 144, 14, 0.1);
}
.brand {
    font-size: 2.8rem;
    font-weight: bold;
}
 /* shared styles */
 .display-flex {
    display: flex;

 }
 /*navbar related style*/
 .navbar{
    justify-content: space-between;
    align-items: center;
 }
 .nav-item {
    list-style: none;
    margin-right: 40px;
 }
 .nav-link{
    text-decoration: none;
    font-weight: 800px;
    font-size: 18px;
 }
 .navbar, .banner {
    max-width: 1440px;
    margin: 0px auto;
 }
/* Banner related style*/
 .banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
 }
 .banner-title{
    font-size: 4rem;
    font-weight: bold;
 }

 /*btn-primary style*/
 .btn-primary {
    background-color: #FF900E;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    border: none;
    border-radius: 5px;
 }
 .banner-img {
    width: 100%;
 }

 /*Main related style*/
 main {
    max-width: 1440px;
    margin: 0 auto;
 }
 main > section {
    margin-top: 130px;
 }
 .teams {
    align-items: center;
 }
 .team-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
 }
 .our-feature {
    margin-left: 73px;
    max-width: 530px;
 }
 .feature-title {
    font-size: 2.8rem;
    font-weight: 700; 
 }
 #quick-list{
    font-weight: 500;
 }
 #feature-color {
    color: #FF900E;
 }











 /*card related style*/
 .description {
   margin-bottom: 130px;
   margin-top: 180px;
 }
 .card-des{
   width: 510px;
   margin-top: 10px;
 }
 .card-container {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
 }
 .card {
   height: 240px;
   width: 240px;
   border: 1px solid  #FF900E;
   border-radius: 8px;
   text-align: center;
   justify-content: center;
   align-items: center;
 } 
 .card-number{
   font-size: 2.8rem;
   font-weight: 600;
   margin-top: 10px;
   margin-bottom: 5px;
 }
.card-name {
   font-weight: 600;
   font-size: 1.2rem;
   color: #727272;
   margin-top: 2px;
}
/* Sponsor related style */
.sponsor-info {
   width: 540px;
   margin: 50px auto;
   text-align: center;
}
.sponsor-companies {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
}
.sponsor-companies img {
   filter: grayscale(100%);
}


 /*responsive media*/
 @media  screen and (max-width:576px) {
    .navbar, .nav-links,
    .teams {
        flex-direction: column;
    }
    .team-img 
    .card-container
    .sponsor-companies
    {
        grid-template-columns: repeat(1, 1fr);
    }
    .card-container 
    {
      justify-items: center;
      gap: 24px;
    }
    .sponsor-companies {
      justify-content: center;
      gap: 50px;
    }
    .our-feature {
        margin-left: 15px;
    }
 }
 /*Medium device*/
 @media screen and (min-width:577px) and (max-width:992px) {
    .teams {
        flex-direction: column;
    }
    .our-feature {
        margin: 25px auto;
    }
    .sponsor-companies, .card-container{
      grid-template-columns: repeat(2, 1fr);
      gap: 50px;
      justify-items: center;
    }
   
 }